@import url('https://fonts.googleapis.com/css?family=Play');
@import 'slider';

@mixin maximizeElement {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

* {
	font-family: 'Play', 'PT Sans', 'Ubuntu', 'Tahoma', 'Arial', sans-serif;
}

.nocontrols {
	cursor: none !important;
	
	#controls {
		margin-bottom: -100%;
	}
	
	.heading-buttons {
		opacity: 0;
	}
}

#channel-player {
	@include maximizeElement();
	background: #000;
	z-index: 1;

	iframe {
		@include maximizeElement();
	}
}

#channel-overlay {
	@include maximizeElement();
	background: rgba(0, 0, 0, 0);
	z-index: 2;
	display: none;
}

#message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background: rgb(200, 200, 200);
	display: none;
	text-align: center;
	font-weight: bold;
	padding: 5px;
	
	&.fatal {
		background: rgb(255, 100, 100);
	}
	
	&.nonfatal {
		background: rgb(200, 200, 100);
	}
}

#controls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8) 80%);
	margin-bottom: 0;
	transition: .5s margin-bottom;
	display: none;
	justify-content: space-between;
	
	.buttons {
		height: 30px;
		margin: 3px;
		padding: 0;
	}
	
	button {
		width: 120px;
		height: 30px;
		margin: 0;
		
		background: #2d3030;
		border: 1px solid rgb(195, 167, 217);
		color: rgb(195, 167, 217);
		outline: none;
		transition: .3s background-color;
		cursor: pointer;
		
		&.auto-width {
			width: auto;
		}
		
		&:hover {
			background: #484d4d;
		}
	}
}

.heading-buttons {
	position: fixed;
	top: 0;
	right: 0;
	margin: 10px !important;
	opacity: 1;
	transition: .2s opacity;
	
	button {
		padding: 10px;
		height: auto !important;
	}
}

#slider-volume {
	width: 160px;
}